@font-face {
  font-family: SnappyDresser;
  src: url(SnappyDresserRegular-L35nG.ttf);
}

@font-face {
  font-family: Hyogo;
  src: url(Hyogo-regular.otf);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fff0f5;
}
#header {
  height: 75px;
  background-color: lightblue;
}

#header-list {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: flex;
  justify-content: left;
  margin-left: 20px;
}

#header-items {
  display: flex;
  justify-content: space-evenly;
}

#burger {
  display: none;
}

#burger div {
  width: 25px;
  height: 2px;
  background-color: rgb(149, 92, 167);
  margin: 5px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: whitesmoke;
  font-family: SnappyDresser, sans-serif;
}

#header-items li {
  list-style: none;
  margin-right: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.sign {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 600px;
  width: 80%;
  max-height: 400px;
}

.about,
.mission,
.statement {
  margin: 10px;
}

.about {
  margin-top: 12px;
}

.about,
.mission {
  color: #81d8d0;
  font-family: SnappyDresser, sans-serif;
}

.statement {
  display: flex;
  justify-self: center;
  font-size: 18px;
  width: 100%;
  max-width: 800px;
  text-align: center;
  font-family: Hyogo, sans-serif;
}

#footer {
  height: 50px;
  background-color: lightblue;
  position: relative;
  bottom: 0;
  width: 100%;
  vertical-align: center;
  font-family: HyogoRegular;
  text-align: center;
}

#footer-list {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#footer-list li {
  list-style: none;
}

@media screen and (max-width: 800px) {
  #header-items {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    width: 100vw;
    background-color: rgb(149, 92, 167);
    align-items: center;
    z-index: 1000;
  }

  #header-items li {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 50px;
    width: 100%;
  }

  #burger {
    display: block;
    margin-right: 40px;
    cursor: pointer;
  }
}
