
#header {
height: 75px;
background-color: lightblue;
}

#header-list {
height: 75px;
display: flex;
justify-content: space-between;
align-items: center;
}

#header-items {
display: flex;
justify-content: space-evenly;
}

#header-items li {
list-style: none;
margin-right: 40px;
}

.big-container {
    display: flex;
    justify-content: center;
}
.images {
    display: flex;
    justify-content: center;
    width: 98%;
    max-width: 230px;
    max-height: 230px;
}

.menu {
    max-width: 800px;
    max-width: 1000px;
    gap: 12px;
}

.top_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.bottom_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.flavor,
.description,
.price {
    display: flex;
    justify-content: center;
}